* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgb(53, 53, 53);
    height: 100vh;
    width: 100vw;
}
header {
    width: 100%;
    height: 10%;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header > a:hover {
    background-color: rgba(31, 255, 180, 1);
}
header > a {
    color: white;
    text-decoration: none;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 130px;
    border: 2px solid rgb(31, 255, 180);
    -webkit-box-shadow: 0px 0px 24px -6px rgba(31, 255, 180, 1);
    -moz-box-shadow: 0px 0px 24px -6px rgba(31, 255, 180, 1);
    box-shadow: 0px 0px 24px -6px rgba(31, 255, 180, 1);
    border-radius: 5px;
    background-color: rgb(55, 124, 102); 
}
main {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > form {
    height: 400px;
    width: 600px;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(31, 255, 180);
}
main > form > input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 110px;
    border: 2px solid rgb(31, 255, 180);
    -webkit-box-shadow: 0px 0px 24px -6px rgba(31, 255, 180, 1);
    -moz-box-shadow: 0px 0px 24px -6px rgba(31, 255, 180, 1);
    box-shadow: 0px 0px 24px -6px rgba(31, 255, 180, 1);
    border-radius: 5px;
    background-color: rgb(55, 124, 102);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
main > form > input:hover {
    cursor: pointer;
    background-color: rgba(31, 255, 180, 1);
}
h1 {
    color: white;
    font-size: 2em;
}
p {
    color: rgb(31, 255, 180);
    text-shadow: rgb(31, 255, 180) 1px 0 6px;
    font-size: 1.2em;
}